*{
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
}

body{
    background: linear-gradient(90deg,#cbdf1c, #d8bb15, #f79b12);
    justify-content: center;
    align-items:center;
    display:flex;
    height: 100vh;
}

div{
    justify-content: center;
    background: linear-gradient(#b8791c);
}

.caixa{
    align-items: center;
    align-content: center;
    padding: 2rem;
    border-radius: 1rem;
    border-style: double;
    box-shadow: 0rem 2px 20px #db1313;
} 

p{
    text-align: center;
    font-size: 1rem;
}

button{
    cursor: pointer;
    text-align: center;
    align-content: center;
    padding:0.6rem;
    border-radius: 0.8rem;
    background-color: #ce641e7a;
    size: 1.5rem;
}

.btn{
    text-align: center;
}

.btn1{
    text-align: center;
}

.btn2{
    text-align: center;
}

button:hover {

    background: #e49a10;
    padding: 0.7rem;
}

input {
    text-align: center;
    background-color: rgba(#fc0e0e);
}

.placeholder {
    text-align: center;
}